@import url('https://fonts.googleapis.com/css?family=Inter:400');

.login-page,
.register-page {
    background-color: #ffa458bf;
    font-family: "Inter-Regular", Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    background-color: white;
    background-image: url('https://c.animaapp.com/ME8XcaOo/img/2111-w039-n003-6b-p1-1.png');
    background-size: cover;
    width: 1200px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: auto;
}

.element-removebg {
    width: 45%;
    height: 55%;
    margin-top: 200px;
    margin-left: 50px;
    object-fit: cover;
    transform: translate(0, -30%);
}

.low-fi-block-header {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
    width: 600px;
    height: 109px;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 10%;
}

.low-fi-block-header .div {
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.low-fi-block-header .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.low-fi-block-header .p-register {
    position: relative;
    width: fit-content;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.p-login {
    position: relative;
    width: fit-content;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1cm;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    margin-bottom: 6px;
}

.box {
    display: flex;
    align-items: flex-start;
    position: relative;
    background-color: #e5e8eb;
    border-radius: 12px;
    overflow: hidden;
}

.box .search {
    display: flex;
    height: 30px;
    width: 400px;
    align-items: center;
    gap: 16px;
    padding: 8px 18px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.box .text-container {
    position: relative;
    flex-grow: 1;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: black;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
}

.box .text-container:focus {
    border: none;
    outline: none;
}

.login-button {
    width: 73%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #FFA458;
    color: white;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #FFA458;
    color: white;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover, .login-button:hover  {
    background-color: #ff8533;
}

.submit-button:focus, .login-button:focus {
    outline: none;
}

.have-account-link, .dont-have-account-link {
    font-weight: 500;
    display: block;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 280px;
}

.have-account-link:hover, .dont-have-account-link:hover {
    color: #ff8533;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}


@media (max-width: 768px) {
    body {
        background-color: rgba(0, 0, 0, 0);
        background-image: url('https://c.animaapp.com/yGkobJtl/img/bg.png');
        justify-content: center;
        align-items: center;
    }

    .card-container {
        width: 100%;
        height: 100%;
        border-radius: 10;
    }

    .element-removebg {
        display: none;
    }

    .low-fi-block-header {
        width: 100%;
        top: 30%;
        right: 0;
    }

    .low-fi-block-header .div {
        align-items: center;
        width: 100%;
        margin-left: 10px;
    }

    .low-fi-block-header .text-wrapper {
        font-size: 18px;
    }

    .p-login {
        font-size: 12px;
    }

    .form-group label {
        font-size: 12px;
    }

    .box .search {
        width: 100%;
    }

    .submit-button, .login-button {
        width: 100%;
    }

    .have-account-link, .dont-have-account-link {
        margin: 10px 0 0 0;
        text-align: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}